// Copy to backend.tf and customize to use remote state
terraform {
  backend "s3" {
    bucket = "your-tf-state-bucket"
    key    = "knova/terraform.tfstate"
    region = "us-east-1"
    encrypt = true
    dynamodb_table = "terraform-locks"
  }
}
